<div>
  <h1> Registration Form </h1>
  <form [formGroup]="registrationForm">
    {{registrationForm.value| json}}
    <div >
      <label>UserName</label>
      <input type="text" formControlName="UserName">
    </div>

    <div>
      <label for="">Password</label>
      <input type="password" formControlName="Password">
    </div>
    <div class="form-group">
      <label for="">ConfirmPassword</label>
      <input type="password" formControlName="ConfirmPassword" id="=ConfirmPassword">
    </div>
    <div formGroupName="address">
      <div>
        <label for="City">City:</label>
        <input type="Password" formControlName="City" id="City">
      </div>
      <div class="form-group">
        <label for="State">State:</label>
        <input type="text" formControlName="State" id="State">
      </div>
      <div>
        <button (click)="LoadApi" class=" btn-primary">LoadApiData</button>
      </div>
      {{registrationForm.value| json}}
    </div>
    
  </form>