<div class="container-fluid">
  <h1> Registration Form </h1>
  <form [formGroup]="registrationForm">

    <div class="form-group">
      <label>UserName</label>
      <input type="text" class="form-control" formControlName="UserName">
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" formControlName="Password">
    </div>
    <div class="form-group">
      <label for="">ConfirmPassword</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" id="=ConfirmPassword">
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="City">City:</label>
        <input type="Password" class="form-control" formControlName="City" id="City">
      </div>
      <div class="form-group">
        <label for="State">State:</label>
        <input type="text" class="form-control" formControlName="State" id="State">
      </div>
      <div>
        <button (click)="LoadApi" class=" btn-primary">LoadApiData</button>
      </div>
    </div>
  </form>