<div class="container-fluid">
  <h1> Registration Form </h1>
  <form [formGroup]="registrationForm">
    {{registrationForm.value | json}}
    <div class="form-group">
      <label for="UserName">UserName</label>
      <input type="text" class="form-control" formControlName="UserName" id="UserName">
    </div>

    <div class="form-group">
      <label  for="Password">Password</label>
      <input type="password" class="form-control" formControlName="Password" id="Password">
    </div>

    <div class="form-group">
      <label for="ConfirmPassword" >ConfirmPassword</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword" id="ConfirmPassword">
    </div>
    <div formGroupName="address">
      <div class="form-group">
        <label for="City" >City:</label>
        <input type="text" class="form-control" formControlName="City" id="City">
      </div>
      <div class="form-group">
        <label for="State">State:</label>
        <input type="text" class="form-control" formControlName="State" id="State">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
      <br>
      <br>

      <button ((click))="LoadApiData()" class="btn btn-primary" type="button">LoadApiData</button>
    </div>
  </form>

</div>